.actived-date{
	&__row{
		&__item{
			height: 16px;
			width: 16px;
			padding: 2px;
			float: left;
			&::before{
				content: "";
				position: relative;
				display: block;
				height: 16px;
				width: 16px;
				background-color: #EEEEEE
			}
			&__overlay{
			    position: relative;
			    z-index: 99999;
			    padding: 10px;
			    color: #FFF;
			    text-align: center;
			    background: #2F2F2F;
			    border-radius: 3px;
			    width: 88px;
			    top: -72px;
				left: -44px;
			}
		}
		&__item--actived{
			&::before{
				background-color: red;
			}
		}
	}
}