.actived-date{
	text-align: center;
	&__wrapper{
		width: 364px;
		left: 50%;
		transform: translateX(-50%);
		&__row{
			&__item{
				height: 24px;
				width: 24px;
				padding: 2px;
				float: left;
				&::before{
					content: "";
					position: relative;
					display: block;
					height: 24px;
					width: 24px;
					background-color: #EEEEEE
				}
				&__overlay{
				    position: relative;
				    z-index: 99999;
				    padding: 10px;
				    color: #FFF;
				    text-align: center;
				    background: #2F2F2F;
				    border-radius: 3px;
				    width: 88px;
				    top: -72px;
					left: -44px;
				}
			}
			&__item--actived{
				&::before{
					background-color: $orange;
				}
			}
		}
	margin-bottom: 24px;
	}
}