.form-btn{
    display: inline-block;
    padding: 8px 8px;
    color: $orange;
    background-color: #FFF;
    outline: 0;
    border: 1px solid $orange;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    transition: .2s ease;
    margin: 0px 0px 0px 4px;
    &:hover{
        color: $white;
        border: 1px solid $orange;
        background-color: $orange;
    }
}
.form-btn-sign{
    color: $twitter-color;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 16px 40px;
    outline: 0;
    border: 1px solid $twitter-color;
    background-color: #FFF;
    transition: .2s ease;
    &:hover{
      color: $white;
      border: 1px solid $twitter-color;
      background-color: $twitter-color;
    }
}
